* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #FEA116;
    --light: #f1efef;
    --dark: #0F172B;
}

body {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-hero.jpg);
    background-size: cover;
    
}

h2 {
    font-weight: 900 !important;
    letter-spacing: 0.9px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
    text-transform: capitalize;
}
a:hover {
    color: var(--primary) !important;
}
img {
    max-width: 95%;
}
textarea {
    resize: none !important;
}
h2 a{
    text-transform: uppercase;
    color: var(--primary);
}


.colored_nav {
    background-color: var(--dark);
    
}
nav ul li a{
    color: var(--light);
    font-weight: bold;
}
.logout i {
    font-size: 19px;
    color: red;
}



.home h1 ,.home p{
    text-transform: uppercase;
    color: var(--light);
}
.home h1 {
    font-family: "pacifco", cursive;
    font-weight: 900;
}
.home a {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.home .book {
    border: 2px solid var(--primary);
    color: var(--primary);
}
.home .login {
    background-color: var(--primary);
    color: var(--dark);
    border: 2px solid var(--primary);
}
.home a.login:hover {
    color: var(--dark) !important;
}
.home span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--light);
}
.hero-img {
    overflow: hidden;
}
.home img {
    animation: rotate 50s infinite linear;
    -webkit-animation: rotate 50s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

/* //////////////////////////////////////////////////////////////////// */
.form {
    width: fit-content;
    background-color: var(--light);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.form h3 {
    content: var(--dark);
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form_container h2 a {
    font-size: 45px;
}
.form-control {
    border: none !important;
}
.button input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    color: var(--light);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.reg-link {
    font-size: 20px;
}
.reg-link a {
    text-decoration: underline !important;
}





/* //////////////////////////////////////////////////////////////////////////////////// */
.menu_nav {
    height: 40vh;
}
.menu_nav h1 {
    color: var(--light);
    font-size: 60px;
    font-weight: 900;
    margin: auto;
}

.menu {
    background-color: var(--light);
}


/* //////////////////////////////////////////////////////////////////////////////////// */