* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #FEA116;
    --light: #f1efef;
    --dark: #0F172B;
    --input-bg: #2a334e;
    --separator: #44485b; 
}

.bg_color {
    background-color: var(--dark);
    
}
.bg-img {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-hero.jpg);
    background-size: cover;
    
}

h2 {
    font-weight: 900 !important;
    letter-spacing: 0.9px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
    text-transform: capitalize;
}
a:hover {
    color: var(--primary) !important;
}
img {
    max-width: 95%;
}
textarea {
    resize: none !important;
}
h2 a{
    text-transform: uppercase;
    color: var(--primary);
}

nav ul li a{
    color: var(--light);
    font-weight: bold;
}
.logout i {
    font-size: 19px;
    color: red;
}



.home h1 ,.home p{
    text-transform: uppercase;
    color: var(--light);
}
.home h1 {
    font-family: "pacifco", cursive;
    font-weight: 900;
}
.home a {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.home .book {
    border: 2px solid var(--primary);
    color: var(--primary);
}
.home .login {
    background-color: var(--primary);
    color: var(--dark);
    border: 2px solid var(--primary);
}
.home a.login:hover {
    color: var(--dark) !important;
}
.home span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--light);
}
.hero-img {
    overflow: hidden;
}
.home img {
    animation: rotate 50s infinite linear;
    -webkit-animation: rotate 50s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

/* //////////////////////////////////////////////////////////////////// */
.form {
    width: fit-content;
    background-color: var(--light);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.form h3 {
    content: var(--dark);
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form_container h2 a {
    font-size: 45px;
}
.form-control {
    border: none !important;
}
.button input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    color: var(--light);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.reg-link {
    font-size: 20px;
}
.reg-link a {
    text-decoration: underline !important;
}





/* //////////////////////////////////////////////////////////////////////////////////// */
.menu_nav {
    height: 40vh;
}
.menu_nav h1 {
    color: var(--light);
    font-size: 60px;
    font-weight: 900;
    margin: auto;
}

.menu {
    background-color: var(--light);
}

.title h3 {
    border-bottom: 1px solid #ccc;
}
.title p {
    color: #777;
}
.price {
    color: var(--primary);
    font-size: 22px;
    font-weight: 900;
}

footer {
    background-color: var(--dark);
}
footer h2, footer i {
    color: var(--primary);
}
footer div {
    color: var(--light);
    font-size: 18px;
    line-height: 1;
}

/* //////////////////////////////////////////////////////////////////////////////////// */
body.chat {
    height: 100vh;
}
.messages {
    height: calc(100% - 150px);
    overflow-y: scroll;
    border-bottom: 1px solid var(--separator); 
}

.message-wrapper {
    display: flex;
    flex-direction: column;
}

.sender-name {
    font-size: 12px; 
    color: var(--primary);
    background-color: transparent;
}

.message {
    border-radius: 15px;
    background-color: var(--primary);
    color: var(--dark);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
}

.sent {
    align-self: flex-end;
    animation: slideFromRight 0.5s forwards;
    -webkit-animation: slideFromRight 0.5s forwards;
}

.received {
    align-self: flex-start;
    animation: slideFromLeft 0.5s forwards;
    background-color: var(--primary);
    color: white;
    -webkit-animation: slideFromLeft 0.5s forwards;
}

/* Message Input Form */
#form {
    display: flex;
    background-color: var(--dark);
    box-shadow: 0px -2px 10px rgba(15, 23, 43, 0.2);
}

#input {
    flex: 1;
    border-radius: 15px;
    border: 1px solid var(--input-bg);
    outline: none;
    color: var(--light);
    background-color: var(--input-bg);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
}

#form > button {
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
}

#form > button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 10px rgba(255, 165, 0, 0.3);
}

/* Animations */
@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#messages::-webkit-scrollbar {
    width: 10px;
}
#messages::-webkit-scrollbar-track {
    background: var(--input-bg); 
}
#messages::-webkit-scrollbar-thumb {
    background: var(--primary);
}
#messages::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

/* ///////////////////////////////////////////////////////////////////////// */


.dashboard_boxes .row div, .dashboard, .db-user {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.dashboard_boxes .row p, .dashboard p {
    margin-bottom: 0 !important;
}
.dashboard_boxes p {
    font-size: 20px;
}
.dashboard_boxes i {
    border-radius: 10px;
    padding: 6px 15px;
    background-color: #ffece4;
    font-size: 35px;
    color: var(--primary);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.dashboard_boxes p span {
    font-weight: bold;
}
.dashboard {
    padding: 25px !important;
}
.dashboard i {
    font-size: 19px;
    color: var(--primary);
}
.dashboard input {
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffece4;
    color: var(--primary);
}

.db-user {
    background-color: #ffece4;
}